body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
    color: #666d89;
}
.wrap {
    margin: auto;
    max-width: 1020px;
}
/* GET A QUOTE */
.get_a_quote {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.get_a_quote .wrap {
    width: 940px;
    padding-bottom: 67px;
}
.title h2{
    margin: 0;
    padding-top: 68px;
    color: #f0d8d9;
    font-weight: 900;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.2px;
}
.title p {
    margin: 0;
    padding-top: 27px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #f0d8d9;
}
.get_a_quote_content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_form {
    width: 587px;
    height: 364px;
}
.contact_field {
    padding: 11px 15px;
    color: #f0d8d9;
    background-color: #d6554f;
    border: 1px solid #d6554f;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 16px;
    letter-spacing: -1px;
    font-size: 12px;
}
.contact_textarea {
    height: 180px;
    resize: none;
}
.contact_form_wrapper{
    margin-top: 44px;
}

.contact_form input::-webkit-input-placeholder, .contact_form textarea::-webkit-input-placeholder {color:#f48c8f;}
.contact_form input::-moz-placeholder, .contact_form textarea::-moz-placeholder {color:#f48c8f;}
.contact_form input:-moz-placeholder, .contact_form textarea:-moz-placeholder {color:#f48c8f;}
.contact_form input:-ms-input-placeholder, .contact_form textarea:-ms-input-placeholder {color:#f48c8f;}

.contact-form input:focus, .contact_form textarea:focus {
    outline: none;
}
.btn_submit {
    display: none;
}
.contacts_information {
    width: 301px;
    height: 318px;
}
.contacts_information h3 {
    margin: 0px;
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    padding-bottom: 10px;
}
.contacts_information p {
    margin: 0px;
    color: #f0d8d9;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    overflow: hidden;
    margin-bottom: 26px;
}
.contacts {
    display: flex;
    color: #f0d8d9;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    align-items: center;
}
.contacts a {
    color: #f0d8d9;
    text-decoration: none;
}
.icon {
    margin-right: 15px;
    width: 13px;
    height: 11px;
}
.icon_location {
    background-image: url("assets/icon-location.png");
    background-repeat: no-repeat;
}

.icon_phone {
    background-image: url("assets/icon-phone.png");
    background-repeat: no-repeat;
}

.icon_mail {
    background-image: url("assets/icon-mail.png");
    background-repeat: no-repeat;
}

/* FOOTER */
.footer {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.footer .wrap {
    display: flex;
    width: 940px;
    justify-content: space-between;
    padding: 20px 0 25px;
}
.copyright {
    font-size: 12px;
    padding: 10px 5px 0 0;
}
.social-footer {
    display: flex;
}
.social-footer-item {
    width: 30px;
    height: 30px;
    margin: 2px 2px 0px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    border: 1px solid #666d89;
    border-radius: 20px;
}
.social-facebook {
    background-image: url("assets/facebook.svg");
    background-size: 28%;
}
.social-facebook:hover {
    stroke: #fff; fill: #fff; 
}
.social-google {
    background-image: url("assets/google+.svg");
}
.social-twitter {
    background-image: url("assets/twitter.svg");
}
.social-linkedin {
    background-image: url("assets/linkedin.svg");
}
