body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
    color: #666d89;
}
.wrap {
    margin: auto;
    max-width: 1020px;
}

/* HEADER */
.header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.header .wrap {
    display: flex;
    width: 940px;
    padding-top: 13px;
    justify-content: space-between;
    align-content: center;
}
.logo a {
    text-decoration: none;
    color: #fff;
}
.logo {
    letter-spacing: -0.02em;
    font-size: 12.2px;
    font-weight: 300;
}
.logo span {
    color: #ff6962;
    font-weight: lighter;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
}
.nav {
    display: flex;
    padding-top: 29px;
}
.nav-item {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s;
    
}
.nav-item:hover {
    color: #f06c64;
}
.nav-dot {
    width: 29px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    opacity: 0.2;
}

/* SLIDER */
.slider {
    margin: auto;
    width: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-bottom: 4px;
}
.slider .wrap {
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
}
.slider-arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 590px;
}
.slider-arrows img {
    opacity: 0.1;
}

.slider-arrows img:hover {
    opacity: 1;
    transition: 0.3s;
}
.slider-arrows.next {
    transform: rotate(180deg);
}
.slider-box {
    display: flex;
    width: 795px;
}

.phone-vert {
    margin-top: 53px;
    background-image: url('assets/iphone-vertical.png');
    width: 240px;
    height: 483px;
}

.phone-horz {
    margin-top: 174px;
    margin-left: 73px;
    background-image: url('assets/iphone-horizontal.png');
    width: 483px;
    height: 240px;
}

/* SERVICES */
.services {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: -25px;
    border-bottom: 6px solid #fff;
}
.services .wrap {
    max-width: 1020px;
    min-height: 500px;
    height: 100%;
}
.services-title {
    padding-left: 39px;
}

.services-title h2 {
    font-size: 30px;
    font-weight: 900;
    padding-top: 60px;
    margin-bottom: 17px
}
.services-title span {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.services-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 40px;
}
.services-box-first {
    margin-top: 37px;
}
.services-box-second {
    margin-top: 12px;
}
.services-box-item {
    display: flex;
    justify-content: start;
    min-width: 300px;
    max-width: 300px;
}
.item-logo {
    padding-top: 10px;
    width: 60px;
    background-repeat: no-repeat;
}
.item-logo-second {
    padding-top: 0;
}
.services-box-item-content h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.002em;
}
.services-box-item-content p {
    margin-top: 0px;
    padding-left: 21px;
    overflow: hidden;
    font-size: 12px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: -0.004rem;
}
